$ctb-border-color: #111;
$under-mobile: "screen and (max-width: 767px)";

body {
  background-color: #eee;
  font-family: 'Roboto Slab', serif;
  @media #{$under-mobile} {
    padding: 25px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 150%;
}

.ctb-no-results {
  text-align: center;
}

$addbtnsize: 50px;
$addbtncolor: #000;
.ctb-addbutton-container {
  z-index: 9999;
  position: fixed;
  right: 40px;
  bottom: 40px;
  @media #{$under-mobile} {
    right: 20px;
    bottom: 20px;
  }
  width: $addbtnsize;
  height: $addbtnsize;
  margin: 0;
  padding: 0;
  a {
    display: block;
    padding: 0;
    margin: 0 auto;
    height: $addbtnsize;
    width: $addbtnsize;
    border-radius: $addbtnsize / 2;
    background-color: $addbtncolor;
    border: 3px solid $addbtncolor;
    box-shadow: 4px 4px 3px #888888;
    img {
      border-radius: 50%;
      -webkit-transition: -webkit-transform .8s ease-in-out;
      transition: transform .8s ease-in-out;
      &:hover {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }
}

.ctb-loading {
  .ctb-spinner-container {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    padding:13px;
    background-color: white;
    margin: 0 auto;
    img {
      width: 64px;
      height: 64px;
      margin: 0;
      padding: 0;
    }
  }
}

.ctb-list {
  margin-top: 2em;
}

.ctb-cta {
  text-align: center;
  text-transform: uppercase;
}

.ctb-input {
  border: 2px solid #333;
  font-size: x-large;
  @media #{$under-mobile} {
    font-size: large;
  }
  height: auto;
}

/*
.ctb-item-type-Design {
  background-color: #3DD3C2;
}
.ctb-item-type-Strategy {
  background-color: #68E598;
}
.ctb-item-type-Bizdev {
  background-color: #6E9AAF;
}
.ctb-item-type-Engineering {
  background-color: #708593;
}
.ctb-item-type-Marketing {
  background-color: #D5C384;
}
.ctb-item-type-Other {
  background-color: #9DB5B2;
}
*/

.ctb-single-item {

  height: 300px;

  a {
    color: black;
  }

  h1,h2,h3,h4 {
    line-height: normal;
  }

  .ctb-item-wrapper {
    border: 1px solid $ctb-border-color;
    padding: 0.9em;
    border-radius: 4px;
    background-color: white;
    margin: 3px;
    margin-top: 40px;
    height: 260px;
  }

  .ctb-item-content-wrapper {
    overflow: hidden;
    text-align: center;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ctb-single-keyword{
    color: #999;
    &:hover {
      color: #999;
      text-decoration: none;
      border-bottom: 1px dotted #999;
      cursor: pointer;
    }
  }

  .ctb-item-flag {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 50px;
    @media #{$under-mobile} {
      top: 20px;
      right: 40px;
    }
    img {
      width: 20px;
    }
  }

  .ctb-item-icon-wrapper {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 50px;
    height: 50px;
    border: 1px solid $ctb-border-color;
    border-radius: 25px;
    margin-top: -40px;
    background-color: #FFF;
    img {
      width: 25px;
      height: 25px;
      margin: 11px;
    }
  }
}

.ctb-logo-container {
  img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    cursor: pointer;
  }
}

.ctb-category-choice {
  text-align: center;
  margin-bottom: 30px;
  color: #999;
  .ctb-category-name {
    cursor: pointer;
    &:hover {
      border-bottom: 1px dotted #999;
    }
  }
}

.ctb-subheader {
  margin-top: 1em;
  text-align: center;
}

.ctb-footer {
  margin-top: 2em;
  text-align: center;
  a {
    color: #777;
    &:hover {
      color: #777;
      border-bottom: 1px dotted #777;
      text-decoration: none;
    }
  }
}

.ctb-btn-black {
  background-color: black;
  border-color: black;
  color: white;
}

.ctb-modal {
  .modal-body, .modal-title, .modal-footer {
    text-align: center;
  }
}
